.post
{
	padding-top: 20px;
	height: auto;
	margin-bottom: 40px;
	border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #DBDBDB;
}
.post_actions
{
	list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    width: 600px;
    height: 31px;
    clear: both;
}
.post_actions li
{
	padding: 8px;
	margin-right: 20px;
	float: left;
}
.post_left
{
	float: left;
	width: 250px;
}
.post_right
{
	float: left;
	width: 330px;
	margin-left: 20px;
}
.post_name
{
}
.post_title
{
	font-family: 'Contrail One', cursive;
	font-size: 30px;
    margin-bottom: 10px;
	padding-bottom: 10px;
}
.post_content
{
}
.post_tags
{
	margin-top: 10px;
	font-style: italic;
	color: #BE5DFF;
}
.post_comments
{
}